/JavaR/target/classes/calculandoareasdeformasgeometricas/CalcArea.class
/JavaR/target/classes/studentsgrades/GradeBook.class
/JavaR/target/classes/identificadordenumerosprimos/IdentificarNumerosPrimos.class
/JavaR/target/classes/studentsgrades/ListaDeAlunos.class
/JavaR/target/classes/studentsgrades/NotasDeEstudantes.class
/JavaR/target/classes/pularnumbero/PularNumeroAzarado.class
/JavaR/target/classes/tabelamultiplicacao/TabelaMultiplicando.class
/JavaR/target/classes/adicaoesubtracaoarray/ArrayAdicaoESubtracao.class
/JavaR/target/classes/diagonalefronteiraarray/DiagonaleFronteira.class
/JavaR/target/classes/matrizesirregulares/RastreadorDeNotas.class
/JavaR/target/classes/hashmap/AcessandoValores.class
/JavaR/target/classes/hashmap/HashMapNested.class
/JavaR/target/classes/hashmap/InventarioHashMap.class
/JavaR/target/classes/hashmap/ModifyAndResetHashMap.class
/JavaR/target/classes/hashmap/PrintMostStockeckProduct.class
/JavaR/target/classes/checkmultipleelementshashset/CheckHashSet.class
/JavaR/target/classes/checkmultipleelementshashset/CompareSet.class
/JavaR/target/classes/hashset/CheckHashSet.class
/JavaR/target/classes/hashset/CompareSet.class
/JavaR/target/classes/fluxodecontroleavancado/ControleDeFluxoDeIteracao.class
/JavaR/target/classes/fluxodecontroleavancado/ExtendedValue.class
/JavaR/target/classes/hashset/IntersecaoDeHashSet.class
/JavaR/target/classes/hashset/IterandoHashSet.class
/JavaR/target/classes/hashset/SetDifference.class
/JavaR/target/classes/hashset/SubESuperConjuntos.class
/JavaR/target/classes/fluxodecontroleavancado/SwitchExpressions.class
/JavaR/target/classes/hashset/UniaoHashSet.class
/JavaR/target/classes/fluxodecontroleavancado/ValidarUser.class
/JavaR/target/classes/operacoesavancadasdestring/MensagemPersonalizada.class
/JavaR/target/classes/tratamentosdeerro/OperacaoDeMutiplacacao.class
/JavaR/target/classes/tratamentosdeerro/ValidarUmSalario.class
