/JavaR/target/classes/calculandoareasdeformasgeometricas/CalcArea.class
/JavaR/target/classes/studentsgrades/GradeBook.class
/JavaR/target/classes/identificadordenumerosprimos/IdentificarNumerosPrimos.class
/JavaR/target/classes/studentsgrades/ListaDeAlunos.class
/JavaR/target/classes/studentsgrades/NotasDeEstudantes.class
/JavaR/target/classes/pularnumbero/PularNumeroAzarado.class
/JavaR/target/classes/tabelamultiplicacao/TabelaMultiplicando.class
/JavaR/target/classes/adicaoesubtracaoarray/ArrayAdicaoESubtracao.class
/JavaR/target/classes/diagonalefronteiraarray/DiagonaleFronteira.class
/JavaR/target/classes/matrizesirregulares/RastreadorDeNotas.class
